.battlefield{
    display: inline-grid;
    border-bottom: 1px solid #db73ff;
    border-left: 1px solid #db73ff;
}
.battlefield-row{
    display: flex;
}
.battlefield-cell{
    background-color: white;
    border-top: 1px solid #db73ff;
    border-right: 1px solid #db73ff;
    text-align: center;
    height: 32px;
    width: 32px;
}
/*-------------------------*/

.layout {
    background: transparent;
    z-index: 2;
}
.react-grid-item {
    border: 1px solid forestgreen;
}
.react-grid-placeholder{
    transition: all 200ms ease;
}
